<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css">
    
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
      </script>
    <title>vueKashenko</title>
</head>
<body>
    <center>
        <h1>VueKashenko Project</h1>
    </center>
    <div id="firstQuestion">
        <span>А я вам сейчас покажу {{selected}}</span>
        <ul>
            <li v-for="option in options">
                <input  type="radio" name="q1" id="option.id" :value="option.text" v-model="selected">
                <label for="option.id">{{option.text}}</label>
            </li>
        </ul>
    </div>
    <div id="secondQuestion">
        <span>готовилось {{selected}}</span>
        <nav id="figures">
            <ul>
                <li v-for="option in options">
                    <figure >
                        <img :src="option.url">
                    </figure>
                    <figcaption>
                        <input type="radio" id="option.id" :value="option.text" v-model="selected">
                        <label for="option.id">{{option.text}}</label>
                    </figcaption>
                </li>
            </ul>
        </nav> 
    </div>
    <div id="thirdQuestion">
        <span>И, если бы за {{selected}} часов до операции</span>
        <br/>
        
        <select name="beforeOperation" v-model="selected" size="2">
            <option v-for="option in options" :value="option.number">{{option.value}}</option>
        </select>
    </div>
    <div id="fourthQuestion" style="height: 80px;">
        <span>Не был нанесен {{preventiveStrike}}</span>
            <br>
            <input type="text" v-model="preventiveStrike" size="50" placeholder="Введите пропуск">
            <br>
            <span>По позициям: </span>
            <select name="Positions" v-model="positions">
                <option disabled value="">Выберите кол-во позиций</option>
                <option v-for="option in options" :value="option">{{option}}</option>
            </select>
    </div>
    <div id="fifthQuestion">
        <span>я щас покажу {{selected}}</span>
        <ol>
            <li v-for="option in options">
                <input  type="radio" name="q5" id="option.id" :value="option.text" v-model="selected">
                <label for="option.id">{{option.text}}</label>
            </li>
        </ol>
    </div>
    <div id="sixthQuestion">
        <span>Они бы атаковали наши войска</span>
        <br>
        <input type="checkbox" id="r" v-model="selectedR">
        <label for="r">россии</label>
        <br>
        <input type="checkbox" id="b" v-model="selectedB">
        <label for="b">беларуси</label>
        <br>
    </div>
    <div id="seventhQuestion">
        <span>которые были {{selected}}</span>
        <ul>
            <li v-for="option in options">
                <input type="radio" :value="option.text" id="option.id" v-model="selected">
                <label for="option.id">{{option.text}}</label>
            </li>
        </ul>
    </div>
    <div id="eighthQuestion">
        <span>Поэтому не мы развязали</span>
        <br>
        <ol>
            <li v-for="val in values">
                <input type="checkbox" id="val.id" v-model="val.selected" :value="val.selected">
                <label for="val.id">{{val.text}}</label>
            </li>
        </ol>
    </div>
    <div id="ninethQuestion">
        <span>Путин хyuлo?</span>
        <ul>
            <li v-for="val in values">
                <input type="checkbox" id="val.id" v-model="val.selected" :value="val.selected">
                <label for="val.id">{{val.text}}</label>
            </li>
        </ul>
        
    </div>
    
    <div id="result">
        <button id="submit" @click="resultIt" >Done!</button>
        <center><span>Your result is: </span>
        <br>
        <textarea v-model="message" style="width: 95%; height: 50px;" placeholder="Here you'll see the result" readonly></textarea>
        </center>
    </div>


<script type="module">
    import { createApp } from 'vue'

    const question1 = createApp({
        data(){
            return{
                selected: '',
                options:[
                    {id:1, text: "кто где соснул"},
                    {id:2, text: "откуда на Беларусь"},
                    {id:3, text: "х..й"}
                ]
            }
        }
    }).mount("#firstQuestion");

    const question2 = createApp({
        data(){
            return {
                selected: '',
                options: [
                    {id:1, text: "рагу из русских младенцев", url: "img/icons8-babys-room-64.png"},
                    {id:2, text: "нападение", url: "img/icons8-fire-64.png"},
                    {id:3, text: "отступление", url: "img/icons8-pacifier-64.png"}
                ]
            }
        }
    }).mount("#secondQuestion");

    const question3 = createApp({
        data(){
            return{
                selected: '___',
                options: [
                    
                ]
                
            }
            
        },
        beforeMount(){
            {
                let numbers = new Array(6);
                let startHours = 5;
                for(let i=0; i<numbers.length; i++){
                    numbers[i] = startHours;
                    this.options.push({
                        number:numbers[i],
                        value:i+5
                    })
                    startHours++;
                }
            }
        }
    }).mount("#thirdQuestion")

    const question4 = createApp({
        data(){
            return{
                preventiveStrike: '',
                positions: '',
                options: ["2 позиции", "3 позиции", "4 позиции"]
            }
        }
        

    }).mount("#fourthQuestion")

    const question5 = createApp({
        data(){
            return {
                selected: '',
                options: [
                    {id: 1, text: "жепу"},
                    {id: 2, text: "карту я привез"},
                    {id: 3, text: "х..й"}
                ]
            }
        }
    }).mount("#fifthQuestion")

    const question6 = createApp({
        data(){
            return{
                selectedR: false,
                selectedB: false
            }
        }
    }).mount("#sixthQuestion")

    const question7 = createApp({
        data(){
            return {
                selected: '',
                options: [
                    {id: 1, text: "нах..я"},
                    {id: 2, text: "нах..яренные"},
                    {id: 3, text: "на учениях"}
                ]
            }
        }
    }).mount("#seventhQuestion")

    const question8 = createApp({
        data(){
            return{
                values:[
                {id:1, selected: false, text: "шнурки"},
                {id:2, selected: false, text: "што?"},
                {id:3, selected: false, text: "эту войну"},
                {id:4, selected: false, text: "спецоперацию"},
                {id:5, selected: false, text: "у нас совесть чиста"}
                ]
                
            }
        }
    }).mount("#eighthQuestion")

    const question9 = createApp({
        data(){
            return{
                values:[
                    {id:1, selected: true, text: "Звісно!"},
                    {id:2, selected: true, text: "Авжеж!"},
                    {id:3, selected: true, text: "Ла-ла-ла-ла-ла!"}
                ]
            }
        }
    }).mount("#ninethQuestion")

    const result = createApp({
        data(){
            return {
                message: ``
            }
        },
        methods:{
            resultIt(event){
                alert("Саня, ты пидор")
            }
        }
    }).mount("#result")

</script> 
</body>
</html>